#login{
    background-image: url("/static/backgroundlogin.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw; 
    height: 100vh;
}

#login form{
    border-radius: 5%; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
    padding: 40px;
}

#login form div label{
    margin-left: 8px;
}

#login form div input:focus{
    border-style: none;
    box-shadow: none;
}

#login form div button{
    width: 100px;
    background-color: bisque;
}

#login form div button:focus{
    border-style: none;
}

#login form:hover, #login form:active{
    transform: scale(1.05);
}


